<!DOCTYPE html>
<html>

<head>
    <title>Login at NetEvMon</title>
    <meta charset="utf-8">

    <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body class="bg-light">
<div id="app" class="container">
    <br>
    <v-app id="inspire" style="background:#f8f9fa;color:white">
        <form id="forms" class="needs-validation" novalidate="">
        <div class="row d-flex justify-content-center">

            <div class="col-md-3 mb-3 "></div>


            <div class="col-md-4 mb-4 ">
                <input class="form-control" type="text" placeholder="email" v-model="email" value="">
            </div>

            <div class="col-md-2 mb-2 "></div>

            <div class="col-md-1 mb-1 ">
                <v-btn  rounded block color="#0560ab"  dark v-on:click="registerButton">Register</v-btn>
                <!--<button class='btn btn-primary btn-lg btn-block col-md-12' v-on:click="sendButton">send</button>-->
            </div>

        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-4 mb-4">
                <input class="form-control" type="password" placeholder="password" v-model="password" value="">
             </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-4 mb-4 ">
                <v-btn x-large rounded block color="#0676d1" height="80" dark v-on:click="loginButton"><h3>Log in</h3></v-btn>
                <!--<button class='btn btn-primary btn-lg btn-block col-md-12' v-on:click="sendButton">send</button>-->
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col-md-12 mb-12" >

                <v-alert v-if="seensucs" type="success">
                    Автентифіковано успішно
                </v-alert>

                <v-alert v-if="seenerr" type="error">
                    {{text}}
                </v-alert>

            </div>
        </div>

     </form>
</v-app>
 </div>
 </div>

 <script>

     jQuery.fn.extend({
         autoHeight: function () {
             function autoHeight_(element) {
                 return jQuery(element)
                     .css({ 'height': 'auto', 'overflow-y': 'hidden' })
                     .height(element.scrollHeight);
             }
             return this.each(function() {
                 autoHeight_(this).on('input', function() {
                     autoHeight_(this);
                 });
             });
         }
     });

     function getHash(str, algo = "SHA-256") {
         let strBuf = new TextEncoder('utf-8').encode(str);
         return crypto.subtle.digest(algo, strBuf)
             .then(hash => {
                 window.hash = hash;
                 // here hash is an arrayBuffer,
                 // so we'll connvert it to its hex version
                 let result = '';
                 const view = new DataView(hash);
                 for (let i = 0; i < hash.byteLength; i += 4) {
                     result += ('00000000' + view.getUint32(i).toString(16)).slice(-8);
                 }
                 return result;
             });
     }

         let app=new Vue({
         el: '#app',
         vuetify: new Vuetify(),
         data: {
             login:'',
             password:'',
             seensucs:false,
             seenerr:false,
             text: ""
         },
         methods:{
             loginButton: function() {
                 app.text="";
                 document.getElementById("outputArea").value="";
                $('textarea').autoHeight();

                 if(app.login!=''&&app.password!=''){
                     $.post("/api/identify", {login: app.login},async function (data) {
                         if (data.status===true){
                             let idB=data.idB;
                             let passwordHash = '';
                             let dt = new Date();
                             let timemark0=dt.getTime();
                             let timemark=timemark0%1000000000;
                             if(document.getElementById("TimeMarkError").checked){console.log(timemark);timemark-=1000;console.log(timemark);}
                             timemark=timemark.toString();
                             while(timemark.length<(16-((idB/3498).toString().length))){
                                 let t="0";
                                 timemark=t.concat(timemark);
                             }
                             let isToday=(timemark0-timemark)/1000000000;
                             let mes = (idB/3498).toString()+timemark;
                             let mesAsBytes = aesjs.utils.utf8.toBytes(mes);
                             document.getElementById("outputArea").value ="";
                             document.getElementById("outputArea").value += "СТОРОНА А:\n\nidB = "+idB/3498+"\nМітка часу А = "+timemark+"\nВведений пароль: "+app.password;
                             getHash(app.password, 'SHA-256').then(hash => {
                                     passwordHash=hash.slice(0,hash.length/2);
                                     document.getElementById("outputArea").value += "\nХеш паролю = "+passwordHash+"\nПовідомлення = "+mes+"\n";
                                     let passAsBytes = aesjs.utils.utf8.toBytes(passwordHash);
                                     let aes = new aesjs.AES(passAsBytes);
                                     let coded = aes.encrypt(mesAsBytes);
                                     let code = aesjs.utils.hex.fromBytes(coded);
                                     document.getElementById("outputArea").value += "Повідомлення, зашифроване введеним паролем = "+code+"\n";
                                     $.post("/api/auth", {code: code, isToday: isToday}, function (data) {
                                         if(data.status===true){
                                             app.seenerr=false; app.seensucs=true;
                                             console.log(data);
                                             document.getElementById("outputArea").value += "\nСТОРОНА В:\n\nПовідомлення, що надійшло = "+data.mes+"\nРозшифроване повідомлення = "+data.mesuncoded+"\nПароль з бази даних: "+data.password+"\nМітка часу сторони А = "+parseInt(data.timemarkA)+"\nМітка часу сторони В = "+data.timemarkB+"\nРізниця міток часу = "+data.timemarkdif+"\nidB, що надійшов = "+data.idBA+"\nidB сторони В = "+data.idBB+"\n\nВітаємо, "+app.login+"ви успішно пройшли автентифікацію.\nВаш рік народження: "+data.userBirthYear;
                                             if(data.userMessage!=''){document.getElementById("outputArea").value += "\nТакож, ви залишили це повідомлення: "+data.userMessage;}
                                             else{
                                                 document.getElementById("outputArea").value += "\nТакож, ви могли б залишили повідомлення, але нажаль, не зробили цього :(";
                                             }
                                             }
                                         else{
                                             document.getElementById("outputArea").value += "\nСТОРОНА В:\n\nПовідомлення, що надійшло = "+data.mes+"\nРозшифроване повідомлення = "+data.mesuncoded+"\nПароль з бази даних: "+data.password+data.idBB+"\nМітка часу сторони А = "+parseInt(data.timemarkA)+"\nМітка часу сторони В = "+data.timemarkB+"\nРізниця міток часу = "+data.timemarkdif+"\nidB, що надійшов = "+data.idBA+"\nidB сторони В = "+"\n\nВи не автентифікувались, тому ми не маємо даних про вас!"; app.seensucs=false;  app.text="Пароль невірний або сталась затримка, помилка: "+data.error; app.seenerr=true;
                                         }$('textarea').autoHeight();
                                     }, "json");

                                     app.login="", app.password="";
                                 });

                         }else{ app.seensucs=false;  document.getElementById("outputArea").value = ""; app.text="Такого користувача неіснує"; app.seenerr=true;}
                         }, "json");
                 }  else{app.seensucs=false; document.getElementById("outputArea").value = ""; app.text="Заповніть всі поля!"; app.seenerr=true;}
             },
             registerButton: function() {
                 document.location.href="reg.html";
             }
         }
     });

     $(document).ready(function() {
        // $('textarea').autoHeight();
     });

 </script>
 </body>
 </html>